---
import "./index.css";

import Form from "../../ui/Form/Form.astro";
import FormSection from "../../ui/Form/FormSection.astro";
import Field from "../../ui/Form/Field.astro";
import Input from "../../ui/Form/Input.astro";
---

<div class="form-panel">
    <Form>
        <div>
            <FormSection class="section-grid">
                <div slot="form-header">
                    <h2>Basic Info</h2>
                </div>
                <Field label="Total Height " name="riderHeight">
                    <Input type="number" suffix="cm" />
                </Field>

                <Field label="Weight (Aprox)" name="riderWeight">
                    <Input type={"number"} suffix="kg" />
                </Field>

                <Field label="Gender Preference" name="riderGender">
                    <Input type="text" />
                </Field>

                <Field label=" Fit Prefence" name="riderFitPreference">
                    <Input type="text" />
                </Field>
            </FormSection>

            <FormSection class="section-grid">
                <div slot="form-header">
                    <h2>Head & Torso</h2>
                </div>

                <Field label="Head Circumference" name="riderHead">
                    <span class="how-to">
                        <svg
                            width="12"
                            height="12"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            ><circle cx="12" cy="12" r="10"></circle><path
                                d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"
                            ></path><line x1="12" y1="17" x2="12.01" y2="17"
                            ></line></svg
                        >
                        How to measure
                    </span>
                    <Input type="number" suffix="cm" />
                </Field>

                <Field label="Chest" name="riderChest">
                    <Input type="number" suffix="kg" />
                </Field>

                <Field label="Waist" name="riderWaist">
                    <Input type="number" suffix="cm" />
                </Field>

                <Field label="Hip" name="riderHip">
                    <Input type="number" suffix="cm" />
                </Field>

                <Field label="Thigh" name="riderThigh">
                    <Input type="number" suffix="cm" />
                </Field>
            </FormSection>

            <FormSection class="section-grid">
                <Field label="Hand" name="riderHand">
                    <Input type="number" suffix="cm" />
                </Field>
                <Field label="Palm" name="riderPalm">
                    <Input type="number" suffix="cm" />
                </Field>
            </FormSection>

            <FormSection class="section-grid">
                <div slot="form-header">
                    <h2>Legs & Feet</h2>
                    <!-- <p>Accurate calf and height measurements are essential for custom boot fitting</p> -->
                </div>

                <Field label="Inside Leg (Inseam)" name="raiderInsideLeg">
                    <Input type="number" suffix="cm" />
                </Field>

                <Field label="Calf Width (Widest Point)" name="riderCalfWidth">
                    <Input type="number" suffix="cm" />
                </Field>

                <Field label="Calf Circumference" name="riderFootLength">
                    <Input type="number" suffix="cm" />
                </Field>

                <Field label="Calf Height" name="riderFootLength">
                    <Input type="number" suffix="cm" />
                </Field>

                <Field label="Foot Length" name="riderFootLength">
                    <Input type="number" suffix="cm" />
                </Field>

                <Field label="Foot Width" name="riderFootWidth">
                    <Input type="number" suffix="cm" />
                </Field>
            </FormSection>
        </div>
    </Form>

    <!-- 
    <div class="form-section">
        <h2>Head & Torso</h2>
        <div class="row">
            <div class="col input-group">
                <div style="display:flex; justify-content:space-between;">
                    <label>Head Circumference</label>
                    <span class="how-to">
                        <svg
                            width="12"
                            height="12"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            ><circle cx="12" cy="12" r="10"></circle><path
                                d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"
                            ></path><line x1="12" y1="17" x2="12.01" y2="17"
                            ></line></svg
                        >
                        How to measure
                    </span>
                </div>
                <div class="input-wrapper">
                    <input type="text" value="56" />
                    <span class="unit">cm</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col input-group">
                <label>Chest</label>
                <div class="input-wrapper">
                    <input type="text" value="0" />
                    <span class="unit">cm</span>
                </div>
            </div>
            <div class="col input-group">
                <label>Waist</label>
                <div class="input-wrapper">
                    <input type="text" value="0" />
                    <span class="unit">cm</span>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="form-section">
        <h2>Legs & Feet</h2>

        <div class="alert-box">
            <h4>Boots Sizing Critical</h4>
            <p>
                Accurate calf and height measurements are essential for custom
                boot fitting
            </p>
        </div>

        <div class="row">
            <div class="col input-group">
                <label>Inside Leg (Inseam)</label>
                <div class="input-wrapper">
                    <input type="text" value="0" />
                    <span class="unit">cm</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col input-group active">
                <div
                    style="display:flex; justify-content:space-between; position:relative;"
                >
                    <label>Calf Width (Widest Point)</label>
                    <span class="measuring-badge">Currently Measuring</span>
                </div>
                <div class="input-wrapper">
                    <input type="text" value="0" autofocus />
                    <span class="unit">cm</span>
                </div>
                <div class="helper-text">
                    Measure the widest part of your calf muscle while seated.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col input-group">
                <label>Foot Length</label>
                <div class="input-wrapper">
                    <input type="text" value="0" />
                    <span class="unit">cm</span>
                </div>
            </div>
            <div class="col input-group">
                <label>Foot Width</label>
                <div class="input-wrapper">
                    <input type="text" value="0" />
                    <span class="unit">cm</span>
                </div>
            </div>
        </div>
    </div>
</div> -->
</div>
