---
import Card from "../../ui/Card.astro";
import Button from "../../ui/Button.astro";
import HorseIcon from "../../ui/Icons/horse.svg";
import EditLogo from "../../ui/Icons/edit.svg";

const { completed = false } = Astro.props;
---

<Card completed={completed}>
    <div class="card-icon" slot="icon">
        <HorseIcon />
    </div>

    <div slot="content">
        <h2>Perfil del Caballo</h2>
        <p>
            Encuentra la silla, protección y mantas perfectas para tu compañero
            equino.
        </p>

        {
            completed ? (
                <a href="/horse">
                    <Button size="md">
                        {" "}
                        Editar Perfil <EditLogo />{" "}
                    </Button>{" "}
                </a>
            ) : (
                <a href="/horse">
                    <Button size="md">
                        {" "}
                        Configurar Caballo <span>&rarr;</span>{" "}
                    </Button>{" "}
                </a>
            )
        }
    </div>
</Card>
