---
import Card from "../../ui/Card.astro";
import Button from "../../ui/Button.astro";
import HumanProfileLogo from "../../ui/Icons/humanProfile.svg";
import EditLogo from "../../ui/Icons/edit.svg";

const { completed = false } = Astro.props;
---

<Card completed={completed}>
    <div class="card-icon" slot="icon">
        <HumanProfileLogo />
    </div>

    <div slot="content">
        <h2>Perfil del Jinete</h2>
        <p>
            Obtén breeches, botas y cascos perfectamente adaptados a tus
            medidas.
        </p>

        {
            completed ? (
                <a href="/rider">
                    <Button size="md">
                        {" "}
                        Editar Perfil <EditLogo />{" "}
                    </Button>
                </a>
            ) : (
                <a href="/rider">
                    <Button size="md">
                        {" "}
                        Configurar Jinete <span>&rarr;</span>{" "}
                    </Button>
                </a>
            )
        }
    </div>
</Card>
