---
import Card from "../../ui/Card.astro";
import Button from "../../ui/Button.astro";
import HumanProfileLogo from "../../ui/Icons/humanProfile.svg";
import EditLogo from "../../ui/Icons/edit.svg";

const { completed = false } = Astro.props;
---

<Card completed={completed}>
    <div class="card-icon" slot="icon">
        <HumanProfileLogo />
    </div>

    <div slot="content">
        <h2>Rider Profile</h2>
        <p>
            Get perfectly sized breeches, boots, and helmets tailored to your
            measurements.
        </p>

        {
            completed ? (
                <a href="../forms/RiderForm">
                    <Button size="md">
                        {" "}
                        Edit Profile <EditLogo />{" "}
                    </Button>
                </a>
            ) : (
                <a href="/rider">
                    <Button size="md">
                        {" "}
                        Configure Rider <span>&rarr;</span>{" "}
                    </Button>
                </a>
            )
        }
    </div>
</Card>
