.main-menu {
  background-color: #e0d6d1;
  margin: 16px;
  display: flex;
  justify-content: center;
}

.main-menu.ant-menu-horizontal > .ant-menu-item,
.main-menu.ant-menu-horizontal > .ant-menu-submenu {
  color: #1f1f1f;
  font-weight: 600;
}

.main-menu.ant-menu-horizontal > .ant-menu-item:hover,
.main-menu.ant-menu-horizontal > .ant-menu-submenu:hover,
.main-menu.ant-menu-horizontal > .ant-menu-submenu-active {
  color: #b54b30;
}

.main-menu.ant-menu-horizontal > .ant-menu-item-selected,
.main-menu.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #b54b30;
}

.main-menu.ant-menu-horizontal > .ant-menu-item::after,
.main-menu.ant-menu-horizontal > .ant-menu-submenu::after {
  border-bottom-color: #b54b30 !important;
}

.ant-menu-submenu-popup .ant-menu {
  background-color: #f1e9e4;
}

.ant-menu-submenu-popup .ant-menu-item:hover {
  background-color: #ead7cd;
}
