---
import RiderForm from "../../components/fitbot/forms/RiderForm.astro";
import RiderMeasuresModule from "../../components/fitbot/modules/RiderMeasuresModule.astro";

import Layout from "../../layouts/Layout.astro";
---

<Layout title="FitBot Rider Profile">
    <div class="fitbot-root ">
        <RiderForm/>
    </div>
</Layout>
