---
import RiderForm from "../../components/fitbot/forms/RiderForm.astro";

export const prerender = false;

import Layout from "../../layouts/Layout.astro";
---

<Layout title="FitBot Perfil de Jinete">
  <div class="fitbot-root">
    <RiderForm />
  </div>
</Layout>
