---

import "../../components/fitbot/forms/index.css";
import RiderForm from "../../components/fitbot/forms/RiderForm.astro";
import Layout from "../../layouts/Layout.astro";

---

<Layout>
    <div class="fibot-root">
        <RiderForm />
    </div>
</Layout>
