---
import MainFitBot from "../components/fitbot/main/MainFitBot.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="fitbot-root">
        <MainFitBot />
    </div>
</BaseLayout>