---
import MainFitBot from "../components/fitbot/main/MainFitBot.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="fitbot-root">
        <MainFitBot />
    </div>
</BaseLayout>
<!-- <script>
    console.log("Fitbot page loaded");
    const token = localStorage.getItem('token')
    if (!token){
        window.location.href = '/LoginPage'
    }
</script> -->
