---
import MainFitBot from "../components/fitbot/main/MainFitBot.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import RiderMeasuresModule from "../components/fitbot/modules/RiderMeasuresModule.astro";
import HorseMeasuresModule from "../components/fitbot/modules/HorseMeasuresModule.astro";
---

<BaseLayout>
    <div class="fitbot-root">

        <MainFitBot />
        <!-- <RiderMeasuresModule /> -->
        <!-- <HorseMeasuresModule/> -->

    </div>
</BaseLayout>
