---
import BaseLayout from "../layouts/BaseLayout.astro";
import Login from "../components/shared/Login.astro";

const token = Astro.cookies.get("token")?.value;
if(token){
    return Astro.redirect("/Fitbot")
}
---

<BaseLayout>
    <div class="fitbot-root">
        <Login />
    </div>
</BaseLayout>
