---
import BaseLayout from "../layouts/BaseLayout.astro";
import Login from "../components/shared/Login.astro";
---

<BaseLayout>
    <div class="fitbot-root">
        <Login />
    </div>
</BaseLayout>
