---
import { Login as LoginForm } from "../components/shared/Login";

import Layout from "../layouts/Layout.astro";

const token = Astro.cookies.get("token")?.value;

if (token) {
  return Astro.redirect("/Fitbot");
}
---

<Layout title="Iniciar Sesión">
  <div class="fitbot-root">
    <LoginForm client:load />
  </div>
</Layout>
