---

import RiderForm from "../components/fitbot/forms/RiderForm.astro"

---

<div
    style=" width: auto; height: auto; background-color: aqua; display:flex; justify-content:center;"
>


<RiderForm/>



</div>
