---
import Button from "../components/ui/Button.astro";
import StatusBadge from "../components/ui/StatusBadge.astro";
import TestForm from "../components/fitbot/TestForm.astro";

---

<div
    style=" width: auto; height: auto; background-color: aqua; display:flex; justify-content:center;"
>
   
<!-- <TestForm/> -->
 <!-- <StatusBadge/>
 <Button> Inicio </Button> -->
    

</div>
