---
import RiderForm from "../components/fitbot/forms/RiderForm.astro";
---

<div
    style=" width: auto; height: auto; background-color: rgb(23, 6, 119); display:flex; justify-content:center;"
>
    <h3 style="color: white;">TEST COMP // NOT USE \\</h3>

    <RiderForm />
</div>
