---
import { Toaster } from "sonner";

import Bubble from "../components/chat/Bubble";
import Footer from "../components/shared/Footer.astro";
import Header from "../components/shared/Header.astro";
import Layout from "./Layout.astro";

import { AuthProvider } from "../components/shared/AuthProvider";

import "../styles/globals.css";
import "../styles/tokens.css";

const { title = "FitBot" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=shopping_bag"
    />
  </head>

  <Layout>
    <Header />

    <slot />

    <Bubble client:load />

    <Footer />

    <Toaster client:load richColors position="top-right" />
    <AuthProvider client:load />
  </Layout>


</html>
