---
import "./styles/index.css"

---

    <footer>
        <div class="copyright">
            &copy; 2026 RiderFit. Powered by Fitbot AI.
        </div>
        <div class="footer-links">
            <a href="#">Support</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
        </div>
    </footer>