---
import NavBar from "./NavBar.astro";
import { CartButton } from "../ecommerce/CartButton";

interface Props {
  isAuthenticated?: boolean;
}

const { isAuthenticated = false } = Astro.props;
---

<header>
  <div class="logo">
    <div class="logo-icon">
      <svg
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"><path d="M6 3h12l4 6-10 13L2 9z"></path></svg
      >
    </div>

    <a href="/">FitBot</a>
  </div>

  <NavBar isAuthenticated={isAuthenticated} />

  <div class="header-actions">
    <CartButton client:load />

    {isAuthenticated ? (
      <a href="/logout" class="btn-signin">Cerrar Sesión</a>
    ) : (
      <a href="/login" class="btn-signin">Iniciar Sesión</a>
    )}
  </div>
</header>

<style>
  header {
    background-color: var(--bg-white);
    outline-style: solid;
    outline-width: 1px;
    outline-color: #e5e7eb;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  .logo-icon {
    background: var(--button-dark);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .cart-icon {
    position: relative;
    margin-top: auto;
    font-size: 1.4rem;
  }

  .cart-dot {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 8px;
    height: 8px;
    background-color: var(--accent-green);
    border-radius: 50%;
    border: 1px solid var(--bg-color);
  }

  .btn-signin {
    background-color: var(--brown-dark);
    color: white;
    padding: 10px 24px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 0.9rem;
  }
</style>
