---

---

<nav>
    <ul>
        <li><a href="#">Shop</a></li>
        <li><a href="#" class="active">Fitbot AI</a></li>
        <li><a href="#">Journal</a></li>
        <li><a href="#">About</a></li>
    </ul>
</nav>

<style>
    nav {
        border: solid 1px rgb(237, 21, 21);
    }

    nav ul {
        display: flex;
        gap: 32px;
        list-style: none;
    }

    nav a {
        font-size: 0.95rem;
        color: var(--text-secondary);
        font-weight: 500;
        transition: color 0.2s;
    }

    nav a.active {
        color: var(--accent-green);
    }
</style>
