---
import "./styles/index.css";
---

<nav>
    <ul>
        <li><a href="#">Shop</a></li>
        <li><a href="#" class="active">Fitbot AI</a></li>
        <li><a href="#">Journal</a></li>
        <li><a href="#">About</a></li>
    </ul>
</nav>
