---
interface Props {
    title?: string;
    description?: string;
    class: string;
}

const { title, description, class: className } = Astro.props;
---

<section class="form-section">

    {
        Astro.slots.has("form-header") && (
            
            <slot name="form-header">
                <header class="section-header">
                    <h2 class="section-title">{title}</h2>
                    {description && (
                        <p class="section-description">{description}</p>
                    )}
                </header>
            </slot>
        )
    }

    <div class={ className } >
        <slot />
    </div>

</section>

<style>
    .form-section {
        margin-bottom: 1.5em;
        height: 100%;
        width: 100%;
    }

    .section-header {
        margin-bottom: 1.5rem;
        border-bottom: 1px solid var(--border-light);
        padding-bottom: 0.75rem;
    }

    .section-title {
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--text-main);
        margin: 0;
    }

    .section-description {
        font-size: 0.875rem;
        color: var(--text-muted);
        margin-top: 0.25rem;
        margin-bottom: 0;
    }

    .section-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .section-grid-vertical {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }


    @media (min-width: 768px) {
        .section-grid {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        .section-grid-vertical{
            grid-template-columns: repeat(1, minmax(0, 100%));

        }
    }

    :global(.span-full) {
        grid-column: 1 / -1;
    }
</style>
