---
import HorseViewMeas from "../forms/HorseViewMeas.astro";
import HorseForm from "../forms/HorseForm.astro";
import "../forms/index.css";
---

<main class="main-container">

    <HorseViewMeas />
    <HorseForm />

</main>
