---
import RiderViewMeas from "../forms/RiderViewMeas.astro";
import RiderForm from "../forms/RiderForm.astro";
import "../forms/index.css";
---

<main class="container-forms">

    <RiderViewMeas />
    
    <RiderForm />

</main>


<style>
    .container-forms {
        display: -webkit-box;
}

</style>
    