---
import Check from "../ui/icons/check.svg";
---

<div class="status-badge">
    <Check /> COMPLETED
</div>

<style>
    .status-badge {
        position: absolute;
        top: 20px;
        right: 20px;
        background: var(--accent-light-green);
        color: var(--accent-green);
        padding: 6px 12px;
        border-radius: 20px;
        font-size: 0.7rem;
        font-weight: 700;
        letter-spacing: 0.5px;
        display: flex;
        align-items: center;
        gap: 4px;
    }
</style>
