---
import Layout from "../../layouts/Layout.astro";
import HorseForm from "../../components/fitbot/forms/HorseForm.astro";
---

<Layout title="FitBot Horse Profile">
    <div class="fitbot-root">
        <HorseForm />
    </div>
</Layout>
